html{
    margin: 0;
    padding: 0;
}

body{
   text-align: center;
   background-color: black;
   font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

/* HEADINGS */

header h1{
    font-weight: normal;
    font-size: 50px;
    color: white;
}

header h2{
    font-weight: 300;
    font-size: 42px;
    color: white;
}

header h4{
    font-size: 21px;
    color: gray;
}

/* LINKS */

#excursion-link a{
    color: aquamarine;
    font-size: 16px;
}

/* Footer */

footer p{
    font-size: 21px;
    text-align: right;
    color: gray;
}

